CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
hyprland.pc
/ags/**
/branches/**
.config/ags/**
**/object/
**/Code/
**/google-chrome/
**/info/
**/logs/
**/refs/
df/
*.pyc
.asdf/
.cache/
.cargo/
.git/
.gk/
.gnupg/
.icons/
.local/
.mozilla/
.npm/
.oh-my-zsh/
.pki/
.rustup/
.ssh/
.themes/
.vim/
.vscode-oss/
.zoom/
.config/objects/
clone/
Desktop/
Documents/
Downloads/
go/
media/
Music/
node_modules/
Pictures/
project/
Public/
Templates/
Videos/
.bash_history
.bash_logout
.clang-format
yay/
build/
result*
/.pre-commit-config.yaml
.clangd
.viminfo
.shell.pre-oh-my-zsh
.wget-hsts
.zcompdump-arc-5.9
.zcompdump-arc-5.9.zwc
/.vscode/
/.idea/
.envrc
.cache
.direnv
/.cmake/
/.worktree/
.gitignore/
package-lock.json
package.json
.gitconfig
.zsh_history
.zshrc
.zshrc.pre-oh-my-zsh
*.o
protocols/*.c*
protocols/*.h*
.ccls-cache
*.so

hyprctl/hyprctl

gmon.out
*.out
*.tar.gz

PKGBUILD

src/version.h
hyprpm/Makefile
hyprctl/Makefile

**/.#*.*
**/#*.*#
